.container
{
	margin:50px auto;
}

#adminLogo
{
	height:100px;
	width:100px;
	border-radius:50%;
}

#upload
{
	width:40%;
}

#uploadDivision
{
	text-align: center;
}

#upload:hover
{
	background-color: white;
	color:red;
}

#problemStatement,#courseID:focus
{
		border-width: 2px;
		border-color: gray;
		outline:none;
}

input[placeholder]:focus
{
	animation-name: slidein;
	animation-delay: 0.1s;
	animation-duration: 0.5s;
	animation-fill-mode: forwards;
	animation-timing-function: ease-out;
}

